In [23]:
def sum(a,b):
    sum=a+b
    print(sum)
    return sum
    
sum(2,6) 
sum(4,7) 
sum(27,6) 
sum(2,6)

8
11
33
8

8

In [26]:
def sum(a,b):
    return a+b    
ans=sum(107383,247334)
print(ans)

354717

In [30]:
def printhello():
     print("hello")
printhello()

hello

In [41]:
def avg(a,b,c):
    avg= a+b+c/3
    print(avg)
    return avg
avg(2,4,6)

8.0

8.0

In [59]:
print("hello",end=" $")
print("harsh")

hello $harsh

In [73]:
def mul(a,b=2):
    print(a*b)
    return a*b
mul(1)

2

2

In [80]:
cities=["delhi","mumbai"]
def cities_len(list):
    print(len(list))

print(len(cities))

2

In [6]:
heros = ["ironman", "batman", "superman"]
def print_list(list):
    for item in list:
        print(item, end=" ")

print_list(heros)

ironman batman superman

In [28]:
def fac(n):
    fac=1
    for i in range(1,n+1):
        fac*=i
    print(fac)
fac(5)

120

In [33]:
def converter(usd_value):
    inr_val=usd_value*85.5762
    print(usd_value,"USD=",inr_val,"INR")
    
converter(251)

251 USD= 21479.6262 INR

In [37]:
def even_odd(num):
    if(num%2==0):
        print("Even")
    else:
        print("odd")

even_odd(7)

odd

In [10]:
#RECURSION
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)
    print("END")
    
show(5)

5
4
3
2
1
END
END
END
END
END

In [17]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
print("fact is:-",fact(5))

fact is:- 120

In [27]:
def sumofno(n):
    if(n==0):
        return 0
    return sumofno(n-1)+n
    
sumofno(400)

80200