In [1]:
print("hello harsh welcome to python language")

hello harsh welcome to python language

In [2]:
print("my name is harsh","my age is 21")

my name is harsh my age is 21

In [3]:
print("my name is harsh")
print("my age is 21")

my name is harsh
my age is 21

In [4]:
print(23)

23

In [5]:
print("23")

23

In [6]:
print(2901%4)

1

In [16]:
name="Harsh"
rollno=22052901
age=21
print("My name is :",name)
print("My rollno is :",rollno)
print("My age is:",age)

My name is : Harsh
My rollno is : 22052901
My age is: 21

In [17]:
name="Harsh"
rollno=22052901
age=21
print(type(name))
print(type(rollno))
print(type(age))

<class 'str'>
<class 'int'>
<class 'int'>

In [18]:
print('hello')

hello

In [21]:
age=21
old=False
a=None
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [64]:
#arithmetic operators
a=4
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

6
2
8
2.0
0
16

In [44]:
#relational operators
#o/p:- T/F
a=50
b=20
print(a==b)
print(a!=b)
print(a>=b)
print(a>b)
print(a<=b)
print(a<b)

False
True
True
True
False
False

In [48]:
#assignment operator
num=20
num+=20
print(num)

40

In [52]:
#logical operator
#not return the opposite of our o/p
print(not True)
print(not False)
val1=True
val2=False
print("AND",val1 and val2)
print("OR",val1 or val2)

False
True
AND False
OR True

In [55]:
#type conversion
a=2
b=4.25
sum=a+b
print(sum)

6.25

In [86]:
#type casting
a=1.66
b=float("2")
print(type(a+b),a+b)

<class 'float'> 3.66

In [75]:
#user input
name=input("enter your name")
age=input("enter your age")
print("welcome",name)
print(type(name),name)

enter your name Harsh
enter your age 21

welcome Harsh
<class 'str'> Harsh

In [85]:
val=float(input("enter some value"))
print(type(val),val)

enter some value 2

<class 'float'> 2.0

In [92]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
marks=float(input("Enter your marks:"))

print("welcome",name)
print("age",age)
print("marks",marks)

Enter your name: Harsh
Enter your age: 21
Enter your marks: 88.78

welcome Harsh
age 21
marks 88.78

In [102]:
side=int(input("Enter square sidee"))
area=side*side
print(area)

Enter square sidee 20

400

In [106]:
a=int(input("enter 1 no."))
b=int(input("enter 2 no."))
print(a>=b)

enter 1 no. 20
enter 2 no. 10

True